<apex:page standardController="Account" extensions="allProjectsForAccountController">
    <script type="text/javascript" charset="UTF-8">


    </script>
    
    <apex:form id="projectsForAccounts">
        <apex:pageBlock >
         <apex:outputLabel value="{!$Label.projectFilterCheckbox}" for="filterProjectsCheckbox"/>
        <apex:inputCheckbox id="filterProjectsCheckbox" selected="false" label="{!$Label.projectFilterCheckbox}" title="{!$Label.projectFilterCheckboxContext}" value="{!filterCheckbox}"> 
            <apex:actionSupport event="onchange" action="{!setFinalListOfProjects}" reRender="ProjectsAssignedToAccount"/>
        </apex:inputCheckbox>
       
            <apex:pageBlockTable id="ProjectsAssignedToAccount" value="{!finalListOfAssignedProjects}" var="project">
                <apex:column >
                    <apex:facet name="header"> Action </apex:facet>
                    <apex:outputLink value="{!sfBaseUrl}{!apexPageRef}{!project.Id}" target="_blank"> Hierarchy View </apex:outputLink>
                </apex:column>
                <apex:column title="Record Type" value="{!project.Record_Type_Icon__c}"/>
                <apex:column >
                     <apex:facet name="header"> Project </apex:facet>
                    <apex:outputLink value="{!sfBaseUrl}/{!project.Id}" target="_parent"> {!project.Name} </apex:outputLink>
                </apex:column>
                <apex:column title="Project Owner" value="{!project.OwnerId}"/>
                <apex:column title="Status" value="{!project.Status__c}"/>
            </apex:pageBlockTable> 
             <apex:outputLink value="{!sfBaseUrl}{!apexFullListRef}{!currentAccountId}" id="theLink" target="_blank"> Go to list ({!noOfProjectRecords}) </apex:outputLink>      
        </apex:pageBlock>
    </apex:form>
</apex:page>